.button {
    background-color: #a4c2f4;
    border: none;
    color: rgb(0, 0, 0);
    /*padding: 40px;*/
    padding: 1.05em 2.1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:larger;
    margin: 4px 30px;
    border-radius: 50%;
    border-style: solid;
    outline: none; 
    
  }

  .noteButton:active{
      /*animate button press*/
    -ms-transform: translateY(0.5px);
    -webkit-transform: translateY(0.5px);
    transform: translateY(0.5px); 
  }

  .noteButton:hover{
    background-color: #98b2df;
  }

  .pure-g {
    justify-content: center;
    text-align: center;
  }

  .pure-u-1{
      display: inline; 
  }

  .buttonsBorder{
      border-style: solid; 
      border-color:#3c78d8; 
      border-radius: 50px;
      margin: 4px 190px;
  }
